.sussy {
    width: 100%; /* Define a largura como 100% da tela */
    height: 150px; /* Define a altura como 150px */
    background-color: aqua; /* Define a cor de fundo como azul claro */
    position: fixed; /* Mantém o elemento fixo na tela ao rolar */
    top: 0; /* Alinha o elemento ao topo da tela */
    left: 0; /* Alinha o elemento à esquerda da tela */
    z-index: 1; /* Define a prioridade sobre elementos com z-index menor */
    border: 3px solid black; /* Adiciona uma borda preta de 3px */
}

#skibidi {
    width: 160px; /* Define a largura da imagem como 160px */
    height: auto; /* Mantém a proporção original da imagem */
    position: relative; /* Permite mover a imagem em relação ao layout normal */
    z-index: 100; /* Garante que a imagem fique sobre outros elementos */
    margin-top: 10px; /* Move a imagem 10px para baixo */
    cursor: pointer;
}

body {
    background-color: grey; /* Define o fundo da página como cinza */
}

@font-face {
    font-family: 'Jersey15'; /* Define um nome para a fonte personalizada */
    src: url('Jersey15-Regular.ttf') format('truetype'); /* Importa a fonte do arquivo */
}

.textogigante {
    font-size: 8rem; /* Define o tamanho da fonte como 8rem */
    font-weight: bold; /* Define o texto como negrito */
    color: blue; /* Define a cor do texto como azul */
    z-index: 2; /* Garante que o texto fique sobre elementos com z-index menor */
    position: relative; 
    top: -50px; 
    font-family: 'Jersey15'; 
    margin-left: 500px; 
    margin-top: -100px; 
}

.icones {
    display: flex;
    justify-content: left; 
    align-items: center; 
    gap: 10px; 
    margin-top: 720px; 
    margin-left: 1600px;
    gap: 10px;
}

#instagram {
    margin-left: -23px; 
}

#facebook {
    margin-left: -23px; 
}   

#retangulo{
    width: 180px; 
    height: 50px;
    background-color: blue;
    border-radius: 25px; 
    margin-top: -190px;
    margin-left: 300px;
    position: fixed;
    z-index: 2;
}

#retangulao{
    height: 600px;
    width: 1000px;
    background-color: white;
    margin-top: -800px;
    margin-left: 70px;
    position: absolute;
}

.normal{
    color: white;
    font-size: 3rem;
    font-family: 'Jersey15';
    margin-top: -185px;
    margin-left: 328px;
    z-index: 100;
    position: fixed;
}

.mais{
    width: 180px;
    position: fixed;
    margin-top: -190px;
    margin-left: 70px;
}

#retangulinho{
    width: 200px; 
    height: 60px;
    background-color: blue;
    border-radius: 35px; 
    position: fixed;
    margin-top: -180px;
    margin-left: 850px;
}

#download{
    color: white;
    font-size: 3rem;
    font-family: 'Jersey15';
    margin-top: -185px;
    margin-left: 328px;
    position: fixed;
    z-index: 100;
}
